.home {

  &__carousel {

    &--player {
      height: 480px;
    }
  }

  &__flex {
    flex-wrap: nowrap !important;
  }

  &__card {

    &--presentation {
      padding: 32px;
    }
  }
}

@media (max-width: 576px) {
  .home {

    &__carousel {

      &--player {
        height: 280px;
      }
    }

    &__flex {
      flex-wrap: wrap !important;
    }

    &__card {

      &--presentation {
        padding: 20px;
      }
    }
  }
}
